<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="epss.repository.dao.not_mybatis.MyFlowCtrlHisMapper">
    <resultMap id="BaseResultMapFlowCtrlShowRes" type="epss.repository.model.model_show.FlowCtrlShow">
        <result column="info_pkid" jdbcType="VARCHAR" property="infoPkid" />
        <result column="info_type" jdbcType="VARCHAR" property="infoType" />
        <result column="flow_status" jdbcType="CHAR" property="flowStatus" />
        <result column="CREATED_TIME" jdbcType="VARCHAR" property="createdTime" />
        <result column="PERIOD_NO" jdbcType="CHAR" property="periodNo" />
        <result column="CREATED_BY_NAME" jdbcType="VARCHAR" property="createdByName" />
    </resultMap>

    <!--
       2015-03-24追加
       auto:hu
    -->
    <select id="selectListByFlowCtrlHis" parameterType="epss.repository.model.model_show.FlowCtrlShow"
            resultMap="BaseResultMapFlowCtrlShowRes">
        <![CDATA[
             select
                   info_pkid
                  ,info_type
                  ,flow_status
                  ,createdByName
                  ,decode(created_time,'1990-0-0','',created_time) as created_time
                  ,PERIOD_NO as periodNo
             from
                 (select f.info_pkid
                         ,f.info_type
                         ,f.flow_status
                         ,name as createdByName
                         ,nvl(f.created_time,'1990-0-0') created_time
                         ,PERIOD_NO
                         ,row_number() over(partition by
                                            f.info_pkid
                                            ,f.info_type
                                            ,f.flow_status
                                        order by
                                             f.info_pkid
                                             ,f.info_type
                                             ,f.flow_status
                                             ,nvl(f.created_time,'1990-0-0')
                                             ,PERIOD_NO
                                             ,CREATED_BY_NAME desc) cn
             from flow_ctrl_his f
             left join oper o
             on o.pkid = f.created_by)
             where cn = 1
        ]]>
        <if test="infoType != null and infoType != ''">
            and info_type=trim(#{infoType})
        </if>
        <if test="periodNo != null and periodNo != ''">
            and PERIOD_NO =trim(#{periodNo})
        </if>
        <if test="flowStatus != null and flowStatus != ''">
            and flow_status=trim(#{flowStatus})
        </if>
        <if test="infoPkid != null and infoPkid != ''">
            and info_Pkid=trim(#{infoPkid})
        </if>
        <if test="createdTime != null and createdTime != ''">
            and created_time &gt;=trim(#{createdTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and created_time &lt;=trim(#{endTime})
        </if>
        <if test="createdByName != null and createdByName != ''">
            and createdByName like CONCAT('%',CONCAT(trim(#{createdByName}),'%'))
        </if>



    </select>
</mapper>