<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="epss.repository.dao.common.FlowMapper">
    <resultMap id="BaseResultMapCtt" type="epss.repository.model.model_show.CttInfoShow">
        <id column="PKID" jdbcType="VARCHAR" property="pkid" />
        <result column="CTT_TYPE" jdbcType="VARCHAR" property="cttType" />
        <result column="PARENT_PKID" jdbcType="VARCHAR" property="parentPkid" />
        <result column="ID" jdbcType="VARCHAR" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="SIGN_DATE" jdbcType="VARCHAR" property="signDate" />
        <result column="SIGN_PART_A" jdbcType="VARCHAR" property="signPartA" />
        <result column="SIGN_PART_A_NAME" jdbcType="VARCHAR" property="signPartAName" />
        <result column="SIGN_PART_B" jdbcType="VARCHAR" property="signPartB" />
        <result column="SIGN_PART_B_NAME" jdbcType="VARCHAR" property="signPartBName" />
        <result column="CTT_START_DATE" jdbcType="VARCHAR" property="cttStartDate" />
        <result column="CTT_END_DATE" jdbcType="VARCHAR" property="cttEndDate" />
        <result column="ATTACHMENT" jdbcType="VARCHAR" property="attachment" />
        <result column="NOTE" jdbcType="VARCHAR" property="note" />

        <result column="POWER_TYPE" jdbcType="VARCHAR" property="powerType" />
        <result column="POWER_PKID" jdbcType="VARCHAR" property="powerPkid" />
        <result column="PERIOD_NO" jdbcType="VARCHAR" property="periodNo" />
        <result column="STATUS_FLAG" jdbcType="VARCHAR" property="statusFlag" />
        <result column="STR_STATUS_FLAG_BEGIN" jdbcType="VARCHAR" property="strStatusFlagBegin" />
        <result column="STR_STATUS_FLAG_END" jdbcType="VARCHAR" property="strStatusFlagEnd" />
        <result column="PRE_STATUS_FLAG" jdbcType="VARCHAR" property="preStatusFlag"/>
        <result column="END_FLAG" jdbcType="VARCHAR" property="endFlag" />
        <result column="DELETED_FLAG" jdbcType="VARCHAR" property="deletedFlag"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
        <result column="CREATED_DATE" jdbcType="VARCHAR" property="createdDate" />
        <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
        <result column="LAST_UPD_DATE" jdbcType="VARCHAR" property="lastUpdDate" />
        <result column="SPARE_FIELD" jdbcType="VARCHAR" property="spareField" />
        <result column="TYPE" jdbcType="CHAR" property="type" />
    </resultMap>
    <select id="selectCttByStatusFlagBegin_End" parameterType="epss.repository.model.model_show.CttInfoShow"
            resultMap="BaseResultMapCtt">
        <![CDATA[
            select
                eic.PKID,
                eic.CTT_TYPE,
                eic.PARENT_PKID,
                eic.ID,
                eic.NAME,
                eic.SIGN_DATE,
                eic.SIGN_PART_A,
                (select Max(Name) from ES_INIT_CUST where PKID=eic.SIGN_PART_A) as SIGN_PART_A_NAME,
                eic.SIGN_PART_B,
                (select Max(Name) from ES_INIT_CUST where PKID=eic.SIGN_PART_B) as SIGN_PART_B_NAME,
                eic.CTT_START_DATE,
                eic.CTT_END_DATE,
                eic.ATTACHMENT,
                eic.NOTE,
                eic.END_FLAG,
                eic.DELETED_FLAG,
                eic.CREATED_BY,
                eic.CREATED_DATE,
                eic.LAST_UPD_BY,
                eic.LAST_UPD_DATE,

                eip.POWER_TYPE,
                eip.POWER_PKID,
                eip.PERIOD_NO,
                eip.STATUS_FLAG,
                '' AS STR_STATUS_FLAG_BEGIN,
                '' AS STR_STATUS_FLAG_END,
                eip.PRE_STATUS_FLAG,
                eip.SPARE_FIELD,
                eic.TYPE
            from
                ES_CTT_INFO eic
            left outer join
                ES_INIT_POWER eip
            on
                eic.CTT_TYPE=eip.POWER_TYPE
            and
                eic.PKID=eip.POWER_PKID
            where
                1=1
        ]]>
        <if test="pkid != null and pkid != ''">
            and eic.pkid like CONCAT('%',CONCAT(trim(#{pkid}),'%'))
        </if>
        <if test="cttType != null and cttType != ''">
            and eic.CTT_TYPE like CONCAT('%',CONCAT(trim(#{cttType}),'%'))
        </if>
        <if test="parentPkid != null and parentPkid != ''">
            and eic.PARENT_PKID like CONCAT('%',CONCAT(trim(#{parentPkid}),'%'))
        </if>
        <if test="id != null and id != ''">
            and eic.id like CONCAT('%',CONCAT(trim(#{id}),'%'))
        </if>
        <if test="name != null and name != ''">
            and eic.name like CONCAT('%',CONCAT(trim(#{name}),'%'))
        </if>
        <if test="signDate != null and signDate != ''">
            and eic.SIGN_DATE = #{signDate}
        </if>
        <if test="signPartA != null and signPartA != ''">
            and eic.SIGN_PART_A = #{signPartA}
        </if>
        <if test="signPartB != null and signPartB != ''">
            and eic.SIGN_PART_B = #{signPartB}
        </if>
        <if test="cttStartDate != null and cttStartDate != ''">
            and eic.CTT_START_DATE = #{cttStartDate}
        </if>
        <if test="cttEndDate != null and cttEndDate != ''">
            and eic.CTT_END_DATE = #{cttEndDate}
        </if>
        <if test="attachment != null and attachment != ''">
            and eic.attachment like CONCAT('%',CONCAT(trim(#{attachment}),'%'))
        </if>
        <if test="note != null and note != ''">
            and eic.note like CONCAT('%',CONCAT(trim(#{note}),'%'))
        </if>
        <if test="endFlag != null and endFlag != ''">
            and eic.end_flag = #{endFlag}
        </if>
        <if test="deletedFlag != null and deletedFlag != ''">
            and eic.deleted_flag = #{deletedFlag}
        </if>

        <!--<if test='strStatusFlagBegin == null and strStatusFlagEnd == "0"'>-->
        <if test="strStatusFlagBegin == null and strStatusFlagEnd == '0'.toString()">
            and (eip.status_flag is null
            or eip.status_flag='0')
        </if>

        <if test="strStatusFlagBegin != null and strStatusFlagBegin !='' and
                       strStatusFlagEnd != null and strStatusFlagEnd != ''">
            and eip.status_flag <![CDATA[>=]]> #{strStatusFlagBegin}
            and eip.status_flag <![CDATA[<=]]> #{strStatusFlagEnd}
        </if>

        <if test="preStatusFlag != null and preStatusFlag != ''">
            and eip.pre_status_flag = #{preStatusFlag}
        </if>
        order by eip.status_flag asc,eic.ID asc
    </select>

    <resultMap id="BaseResultMapStl" type="epss.repository.model.model_show.ProgInfoShow">
        <id column="PKID" jdbcType="VARCHAR" property="pkid" />
        <result column="ID" jdbcType="VARCHAR" property="id" />
        <result column="STL_TYPE" jdbcType="VARCHAR" property="stlType" />
        <result column="STL_PKID" jdbcType="VARCHAR" property="stlPkid" />
        <result column="STL_NAME" jdbcType="VARCHAR" property="stlName" />
        <result column="PERIOD_NO" jdbcType="VARCHAR" property="periodNo" />
        <result column="SIGN_PART_B_NAME" jdbcType="VARCHAR" property="signPartBName" />
        <result column="NOTE" jdbcType="VARCHAR" property="note" />
        <result column="ATTACHMENT" jdbcType="VARCHAR" property="attachment" />

        <result column="POWER_TYPE" jdbcType="VARCHAR" property="powerType" />
        <result column="POWER_PKID" jdbcType="VARCHAR" property="powerPkid" />
        <result column="POWER_PERIOD_NO" jdbcType="VARCHAR" property="powerPeriodNo" />
        <result column="STATUS_FLAG" jdbcType="CHAR" property="statusFlag" />
        <result column="PRE_STATUS_FLAG" jdbcType="CHAR" property="preStatusFlag"/>
        <result column="END_FLAG" jdbcType="CHAR" property="endFlag" />
        <result column="DELETED_FLAG" jdbcType="CHAR" property="deletedFlag"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
        <result column="CREATED_DATE" jdbcType="VARCHAR" property="createdDate" />
        <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
        <result column="LAST_UPD_DATE" jdbcType="VARCHAR" property="lastUpdDate" />
        <result column="SPARE_FIELD" jdbcType="VARCHAR" property="spareField" />
    </resultMap>
    <select id="selectSubcttStlQMByStatusFlagBegin_End"
            parameterType="epss.repository.model.model_show.ProgInfoShow"
            resultMap="BaseResultMapStl">
        <![CDATA[
             select
                eis.PKID,
                eis.ID,
                eis.STL_TYPE,
                eis.STL_PKID,
                eic.NAME AS STL_NAME,
                eis.PERIOD_NO,
                eis.ATTACHMENT,
                eicust.NAME AS SIGN_PART_B_NAME,
                eis.NOTE,
                eis.END_FLAG,
                eis.DELETED_FLAG,
                eis.CREATED_BY,
                eis.CREATED_DATE,
                eis.LAST_UPD_BY,
                eis.LAST_UPD_DATE,

                eip.POWER_TYPE,
                eip.POWER_PKID,
                eip.PERIOD_NO AS POWER_PERIOD_NO,
                eip.STATUS_FLAG,
                eip.PRE_STATUS_FLAG,
                eip.SPARE_FIELD
            from
                ES_INIT_STL eis
            left outer join
                ES_INIT_POWER eip
            on
                eis.STL_TYPE=eip.POWER_TYPE
            and
                eis.STL_PKID=eip.POWER_PKID
            and
                eis.PERIOD_NO=eip.PERIOD_NO
            left outer join
                ES_CTT_INFO eic
            on
                eis.stl_pkid=eic.pkid
            and
                eic.CTT_TYPE='2'
            left outer join
                 ES_INIT_CUST eicust
            on
                 eic.SIGN_PART_B=eicust.PKID
            where
                 1=1
         ]]>
        <if test="pkid != null and pkid != ''">
            and eis.pkid like CONCAT('%',CONCAT(trim(#{pkid}),'%'))
        </if>
        <if test="id != null and id != ''">
            and eis.id like CONCAT('%',CONCAT(trim(#{id}),'%'))
        </if>
        <if test="stlType != null and stlType != ''">
            and eis.STL_TYPE like CONCAT('%',CONCAT(trim(#{stlType}),'%'))
        </if>
        <if test="stlPkid != null and stlPkid != ''">
            and eis.STL_PKID like CONCAT('%',CONCAT(trim(#{stlPkid}),'%'))
        </if>
        <if test="periodNo != null and periodNo != ''">
            and eis.PERIOD_NO like CONCAT('%',CONCAT(trim(#{periodNo}),'%'))
        </if>
        <if test="attachment != null and attachment != ''">
            and eis.attachment like CONCAT('%',CONCAT(trim(#{attachment}),'%'))
        </if>
        <if test="note != null and note != ''">
            and eis.note like CONCAT('%',CONCAT(trim(#{note}),'%'))
        </if>
        <if test="endFlag != null and endFlag != ''">
            and eis.end_flag = #{endFlag}
        </if>
        <if test="deletedFlag != null and deletedFlag != ''">
            and eis.deleted_flag = #{deletedFlag}
        </if>

        <!--<if test='strStatusFlagBegin == null and strStatusFlagEnd == "0"'>-->
        <if test="strStatusFlagBegin == null and strStatusFlagEnd == '0'.toString()">
            and (eip.status_flag is null
            or eip.status_flag='0')
        </if>

        <if test="strStatusFlagBegin != null and strStatusFlagBegin !='' and
                       strStatusFlagEnd != null and strStatusFlagEnd != ''">
            and eip.status_flag <![CDATA[>=]]> #{strStatusFlagBegin}
            and eip.status_flag <![CDATA[<=]]> #{strStatusFlagEnd}
        </if>

        <if test="preStatusFlag != null and preStatusFlag != ''">
            and eip.pre_status_flag = #{preStatusFlag}
        </if>
        order by eip.status_flag asc,eic.ID asc
    </select>
    <select id="selectTkcttStlSMByStatusFlagBegin_End"
            parameterType="epss.repository.model.model_show.ProgInfoShow"
            resultMap="BaseResultMapStl">
        <![CDATA[
             select
                eis.PKID,
                eis.ID,
                eis.STL_TYPE,
                eis.STL_PKID,
                eic.NAME AS STL_NAME,
                eis.PERIOD_NO,
                eis.ATTACHMENT,
                eicust.NAME AS SIGN_PART_B_NAME,
                eis.NOTE,
                eis.END_FLAG,
                eis.DELETED_FLAG,
                eis.CREATED_BY,
                eis.CREATED_DATE,
                eis.LAST_UPD_BY,
                eis.LAST_UPD_DATE,

                eip.POWER_TYPE,
                eip.POWER_PKID,
                eip.PERIOD_NO AS POWER_PERIOD_NO,
                eip.STATUS_FLAG,
                eip.PRE_STATUS_FLAG,
                eip.SPARE_FIELD
            from
                ES_INIT_STL eis
            left outer join
                ES_INIT_POWER eip
            on
                eis.STL_TYPE=eip.POWER_TYPE
            and
                eis.STL_PKID=eip.POWER_PKID
            and
                eis.PERIOD_NO=eip.PERIOD_NO

            left outer join
                ES_CTT_INFO eic
            on
                eic.pkid=eis.stl_pkid
            and
                eic.CTT_TYPE='0'
            left outer join
                 ES_INIT_CUST eicust   --连客户信息
            on
                 eicust.PKID=eic.SIGN_PART_B
            where
                1=1
         ]]>
        <if test="pkid != null and pkid != ''">
            and eis.pkid like CONCAT('%',CONCAT(trim(#{pkid}),'%'))
        </if>
        <if test="id != null and id != ''">
            and eis.id like CONCAT('%',CONCAT(trim(#{id}),'%'))
        </if>
        <if test="stlType != null and stlType != ''">
            and eis.STL_TYPE like CONCAT('%',CONCAT(trim(#{stlType}),'%'))
        </if>
        <if test="stlPkid != null and stlPkid != ''">
            and eis.STL_PKID like CONCAT('%',CONCAT(trim(#{stlPkid}),'%'))
        </if>
        <if test="periodNo != null and periodNo != ''">
            and eis.PERIOD_NO like CONCAT('%',CONCAT(trim(#{periodNo}),'%'))
        </if>
        <if test="attachment != null and attachment != ''">
            and eis.attachment like CONCAT('%',CONCAT(trim(#{attachment}),'%'))
        </if>
        <if test="note != null and note != ''">
            and eis.note like CONCAT('%',CONCAT(trim(#{note}),'%'))
        </if>
        <if test="endFlag != null and endFlag != ''">
            and eis.end_flag = #{endFlag}
        </if>
        <if test="deletedFlag != null and deletedFlag != ''">
            and eis.deleted_flag = #{deletedFlag}
        </if>

        <!--<if test='strStatusFlagBegin == null and strStatusFlagEnd == "0"'>-->
        <if test="strStatusFlagBegin == null and strStatusFlagEnd == '0'.toString()">
            and (eip.status_flag is null
            or eip.status_flag='0')
        </if>

        <if test="strStatusFlagBegin != null and strStatusFlagBegin !='' and
                       strStatusFlagEnd != null and strStatusFlagEnd != ''">
            and eip.status_flag <![CDATA[>=]]> #{strStatusFlagBegin}
            and eip.status_flag <![CDATA[<=]]> #{strStatusFlagEnd}
        </if>
        <if test="preStatusFlag != null and preStatusFlag != ''">
            and eip.pre_status_flag = #{preStatusFlag}
        </if>
        order by eip.status_flag asc,eic.ID asc
    </select>
</mapper>