<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="epss.repository.dao.notMyBits.MyProgWorkqtyInfoMapper">
    <resultMap id="BaseResultMap" type="epss.repository.model.model_show.ProgWorkqtyInfoShow">
        <id column="PKID" jdbcType="VARCHAR" property="pkid" />
        <result column="ID" jdbcType="VARCHAR" property="id" />
        <result column="SUBCTT_INFO_PKID" jdbcType="VARCHAR" property="subcttInfoPkid" />
        <result column="SUBCTT_INFO_NAME" jdbcType="VARCHAR" property="subcttInfoName" />
        <result column="STAGE_NO" jdbcType="VARCHAR" property="stageNo" />
        <result column="ARCHIVED_FLAG" jdbcType="CHAR" property="archivedFlag" />
        <result column="ORIGIN_FLAG" jdbcType="CHAR" property="originFlag" />
        <result column="FLOW_STATUS" jdbcType="CHAR" property="flowStatus" />
        <result column="FLOW_STATUS_REMARK" jdbcType="CHAR" property="flowStatusRemark" />
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
        <result column="CREATED_BY_NAME" jdbcType="VARCHAR" property="createdByName" />
        <result column="CREATED_TIME" jdbcType="VARCHAR" property="createdTime" />
        <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
        <result column="UPDATED_BY_NAME" jdbcType="VARCHAR" property="updatedByName" />
        <result column="UPDATED_TIME" jdbcType="VARCHAR" property="updatedTime" />
        <result column="REC_VERSION" jdbcType="DECIMAL" property="recVersion"/>
        <result column="ATTACHMENT" jdbcType="VARCHAR" property="attachment" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="TID" jdbcType="VARCHAR" property="tid" />
    </resultMap>
    <select id="getProgWorkqtyInfoListByFlowStatusBegin_End"
            parameterType="epss.repository.model.model_show.ProgWorkqtyInfoShow"
            resultMap="BaseResultMap">
        <![CDATA[
             select pwi.PKID               ,
                    pwi.ID                 ,
                    pwi.SUBCTT_INFO_PKID   ,
                    subctt.NAME               as SUBCTT_INFO_NAME,
                    pwi.STAGE_NO           ,
                    pwi.ARCHIVED_FLAG      ,
                    pwi.ORIGIN_FLAG        ,
                    pwi.FLOW_STATUS        ,
                    pwi.FLOW_STATUS_REMARK ,
                    pwi.CREATED_BY         ,
                    (select Max(OPERNAME) from PTOPER where OPERID=pwi.CREATED_BY) as CREATED_BY_Name,
                    pwi.CREATED_TIME       ,
                    pwi.UPDATED_BY         ,
                    (select Max(OPERNAME) from PTOPER where OPERID=pwi.UPDATED_BY) as UPDATED_BY_NAME,
                    pwi.UPDATED_TIME       ,
                    pwi.REC_VERSION        ,
                    pwi.ATTACHMENT         ,
                    pwi.REMARK             ,
                    pwi.TID                
            from PROG_WORKQTY_INFO pwi,SUBCTT_INFO subctt
            where
                pwi.SUBCTT_INFO_PKID=subctt.PKID
         ]]>
        <if test="pkid != null and pkid != ''">
            and pwi.pkid like CONCAT('%',CONCAT(trim(#{pkid}),'%'))
        </if>
        <if test="subcttInfoPkid != null and subcttInfoPkid != ''">
            and pwi.SUBCTT_INFO_PKID like CONCAT('%',CONCAT(trim(#{subcttInfoPkid}),'%'))
        </if>
        <if test="id != null and id != ''">
            and pwi.id like CONCAT('%',CONCAT(trim(#{id}),'%'))
        </if>
        <if test="stageNo != null and stageNo != ''">
            and pwi.STAGE_NO like CONCAT('%',CONCAT(trim(#{stageNo}),'%'))
        </if>
        <if test="archivedFlag != null and archivedFlag != ''">
            and pwi.ARCHIVED_FLAG like CONCAT('%',CONCAT(trim(#{archivedFlag}),'%'))
        </if>
        <if test="originFlag != null and originFlag != ''">
            and pwi.ORIGIN_FLAG like CONCAT('%',CONCAT(trim(#{originFlag}),'%'))
        </if>
        <if test="flowStatusBegin == null and flowStatusEnd == null">
            and (pwi.FLOW_STATUS is null
            or pwi.FLOW_STATUS='0')
        </if>
        <if test="flowStatusBegin != null and flowStatusBegin !='' and
                       flowStatusEnd != null and flowStatusEnd != ''">
            and pwi.FLOW_STATUS <![CDATA[>=]]> #{flowStatusBegin}
            and pwi.FLOW_STATUS <![CDATA[<=]]> #{flowStatusEnd}
        </if>
        
        order by pwi.FLOW_STATUS asc,pwi.ID asc
    </select>

</mapper>