<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="epss.repository.dao.not_mybatis.MyFlowCtrlHisMapper">
    <resultMap id="BaseResultMapFlowCtrlShowRes" type="epss.repository.model.model_show.FlowCtrlShow">
        <result column="info_pkid" jdbcType="VARCHAR" property="infoPkid" />
        <result column="info_type" jdbcType="VARCHAR" property="infoType" />
        <result column="flow_status" jdbcType="CHAR" property="flowStatus" />
        <result column="CREATED_TIME" jdbcType="VARCHAR" property="createdTime" />
        <result column="PERIOD_NO" jdbcType="CHAR" property="periodNo" />
        <result column="CREATED_BY_NAME" jdbcType="VARCHAR" property="createdByName" />
    </resultMap>

    <!--
       2015-03-24追加
       auto:hu
    -->
    <select id="selectListByFlowCtrlHis" parameterType="epss.repository.model.model_show.FlowCtrlShow"
            resultMap="BaseResultMapFlowCtrlShowRes">
        <![CDATA[
            select  ff.info_pkid as info_pkid
                    ,ff.info_type as info_type
                    ,ff.flow_status as flow_status
                    ,ff.PERIOD_NO as periodNo
                    ,ff.CREATED_BY_NAME as createdByName
                    ,ff.created_time as created_time
             from  flow_ctrl_his ff,
            (
                select   info_pkid
                           ,info_type
                           ,flow_status
                           ,PERIOD_NO
                          ,max(CREATED_TIME) as created_time
                from  flow_ctrl_his
                where flow_status!=""
                    and ARCHIVED_FLAG =0
                    and flow_status <=3
               group by
                    info_pkid
                    ,info_type
                    ,PERIOD_NO
                    ,flow_status
            )   f
            where  f.info_pkid = ff.info_pkid
            and f.info_type = ff.info_type
            and f.flow_status = ff.flow_status
            and IFNULL(f.PERIOD_NO,'') = IFNULL(ff.PERIOD_NO,'')
            and f.created_time = ff.created_time

        ]]>
        <if test="infoType != null and infoType != ''">
            and ff.info_type=trim(#{infoType})
        </if>
        <if test="periodNo != null and periodNo != ''">
            and f.PERIOD_NO =trim(#{periodNo})
        </if>
        <if test="flowStatus != null and flowStatus != ''">
            and ff.flow_status=trim(#{flowStatus})
        </if>
        <if test="infoPkid != null and infoPkid != ''">
            and ff.info_Pkid=trim(#{infoPkid})
        </if>
        <if test="createdTime != null and createdTime != ''">
            and ff.created_time &gt;=trim(#{createdTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and ff.created_time &lt;=trim(#{endTime})
        </if>

        group by
            ff.info_pkid
            ,ff.info_type
            ,ff.PERIOD_NO
            ,ff.flow_status
        order by ff.info_type
            ,ff.PERIOD_NO
            ,ff.flow_status
    </select>
</mapper>