<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="epss.repository.dao.not_mybatis.MyFlowCtrlHisMapper">
    <resultMap id="BaseResultMapFlowCtrlShowRes" type="epss.repository.model.model_show.FlowCtrlShow">
        <result column="info_pkid" jdbcType="VARCHAR" property="infoPkid" />
        <result column="info_type" jdbcType="VARCHAR" property="infoType" />
        <result column="flow_status" jdbcType="CHAR" property="flowStatus" />
        <result column="CREATED_TIME" jdbcType="VARCHAR" property="createdTime" />
        <result column="PERIOD_NO" jdbcType="CHAR" property="periodNo" />
        <result column="CREATED_BY_NAME" jdbcType="VARCHAR" property="createdByName" />
    </resultMap>

    <!--
       2015-03-24追加
       auto:hu
    -->
    <select id="selectListByFlowCtrlHis" parameterType="epss.repository.model.model_show.FlowCtrlShow"
            resultMap="BaseResultMapFlowCtrlShowRes">
        <![CDATA[


select   f.info_pkid as info_pkid
         ,f.info_type as info_type
         ,f.flow_status as flow_status
         ,f.PERIOD_NO as periodNo
         ,max(CREATED_TIME) as created_time
         ,f.CREATED_BY_NAME as createdByName
from  flow_ctrl_his f
where f.flow_status!=""
   and f.ARCHIVED_FLAG =0
        ]]>
        <if test="infoType != null and infoType != ''">
            and f.info_type=trim(#{infoType})
        </if>
        <if test="periodNo != null and periodNo != ''">
            and f.PERIOD_NO =trim(#{periodNo})
        </if>
        <if test="flowStatus != null and flowStatus != ''">
            and f.flow_status=trim(#{flowStatus})
        </if>
        <if test="infoPkid != null and infoPkid != ''">
            and f.info_Pkid=trim(#{infoPkid})
        </if>
        <if test="createdTime != null and createdTime != ''">
            and f.created_time &gt;=trim(#{createdTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and f.created_time &lt;=trim(#{endTime})
        </if>
group by
        info_pkid
        ,info_type
        ,PERIOD_NO
        ,flow_status
    </select>
</mapper>